
        html, body { 
            height: 100%;
        }
        body {
            background: radial-gradient(#1b98ff, #006bcb);
            overflow: hidden;
        }

        .ocean { 
            height: 5%;
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            background: white;
            opacity: .3;

        }

        .wave {
            position: absolute;
            top: -160px;
            width: 30000px;
            height: 198px;
            animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 3s ease -2.25s alternate infinite;
            transform: translate3d(0, 0, 0);
            background-repeat: repeat-x;

        }

        .wave:nth-of-type(2) {
            top: -175px;
            animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite , swell 5s ease -3.25s alternate infinite;
            opacity: .5;
            background-repeat: repeat-x;
            width: 30000px;
        }
        .wave:nth-of-type(3) {
            top: -198px;
            animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53 ) infinite, swell 4s ease -4.25s alternate infinite;
            opacity: .5;
            background-repeat: repeat-x;
            width: 30000px;
        }

        @keyframes wave {
            0% {
                margin-left: 0;
            }
            100% {
                margin-left: -1000px;
            }
        }

        @keyframes swell {
            0%, 100% {
                transform: translate3d(0,-30px,0);
            }
            50% {
                transform: translate3d(-10px,15px,0);
            }
        }